.container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1385px; 
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 2px 3px 4px rgb(79, 78, 78);
    background-color: #000000;
    color: #ffffff;
}

.logoContainer{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.logoContainer:hover,
.logoContainer:focus{
    color: #ff4500;
}

.logo {
    display: block;
    width: 30px;
    height: 30px;
}

.title {
    display: block;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.linkList {
    display: flex;
    gap: 20px;
    align-items: center;
}
